<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.th1nk.easychat.mapper.SysChatMessageMapper">

    <resultMap id="BaseResultMap" type="top.th1nk.easychat.domain.SysChatMessage">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="senderId" column="sender_id" jdbcType="INTEGER"/>
        <result property="chatType" column="chat_type" jdbcType="TINYINT"/>
        <result property="receiverId" column="receiver_id" jdbcType="INTEGER"/>
        <result property="messageType" column="message_type" jdbcType="TINYINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sender_id,chat_type,
        receiver_id,message_type,content,
        create_time
    </sql>
</mapper>
