<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.th1nk.easychat.mapper.SysGroupInvitationMapper">

    <resultMap id="BaseResultMap" type="top.th1nk.easychat.domain.SysGroupInvitation">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="invitedUserId" column="invited_user_id" jdbcType="INTEGER"/>
        <result property="invitedBy" column="invited_by" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_id,invited_user_id,
        invited_by,status,create_time,
        update_time
    </sql>
    <select id="selectInvitationVoByUserId" resultType="top.th1nk.easychat.domain.vo.GroupInvitationVo">
        SELECT g.group_id,
               g.group_name,
               g.avatar   AS group_avatar,
               u.id       AS invited_by_id,
               u.username AS invited_by_username,
               u.nickname AS invited_by_nickname,
               uf.remark  AS invited_by_remark,
               gi.`status`,
               gi.create_time
        FROM ec_group_invitation gi
                 LEFT JOIN ec_group g ON gi.group_id = g.group_id
                 LEFT JOIN ec_user u ON u.id = gi.invited_by
                 LEFT JOIN ec_user_friend uf ON uf.friend_id = gi.invited_by
        WHERE gi.invited_user_id = #{userId}
          AND uf.uid = #{userId}
          AND g.deleted = 0
          AND u.deleted = 0
          AND uf.deleted = 0
    </select>
    <select id="selectAdminInvitationVoByUserId" resultType="top.th1nk.easychat.domain.vo.GroupAdminInvitationVo">
        SELECT g.group_id,
               g.group_name,
               g.avatar    AS group_avatar,
               u.id        AS inviter_id,
               u.username  AS inviter_username,
               u.nickname  AS inviter_nickname,
               u1.id       AS invited_by_id,
               u1.username AS invited_by_username,
               u1.nickname AS invited_by_nickname,
               gi.`status`,
               gi.create_time
        FROM ec_group_invitation gi
                 LEFT JOIN ec_group g ON gi.group_id = g.group_id
                 LEFT JOIN ec_user u ON u.id = gi.invited_user_id
                 LEFT JOIN ec_user u1 ON u1.id = gi.invited_by
                 LEFT JOIN ec_group_member gm ON gm.group_id = gi.group_id
        WHERE gm.role > 0
          AND gm.user_id = 10
          AND g.deleted = 0
          AND u.deleted = 0
    </select>
</mapper>
