<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.th1nk.easychat.mapper.SysGroupMemberMapper">

    <resultMap id="BaseResultMap" type="top.th1nk.easychat.domain.SysGroupMember">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="userGroupNickname" column="user_group_nickname" jdbcType="VARCHAR"/>
        <result property="groupRemark" column="group_remark" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="TINYINT"/>
        <result property="muted" column="muted" jdbcType="TINYINT"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,group_id,user_id,
        user_group_nickname,group_remark,role,
        muted,deleted,create_time
    </sql>
    <select id="countGroupsByUserRole" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ec_group_member
        WHERE user_id = #{userId}
          AND role = #{userRole}
          AND deleted = 0
    </select>
    <select id="selectByUserIdAndGroupId" resultType="top.th1nk.easychat.domain.SysGroupMember">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ec_group_member
        WHERE user_id = #{userId}
        AND group_id = #{groupId}
        AND deleted = 0
    </select>
    <select id="selectAllByUserId" resultType="top.th1nk.easychat.domain.SysGroupMember">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ec_group_member
        WHERE user_id = #{userId}
        AND deleted = 0
    </select>
    <select id="selectGroupMemberVo" resultType="top.th1nk.easychat.domain.vo.GroupMemberVo">
        SELECT group_id, user_id, user_group_nickname, group_remark, role, create_time
        FROM ec_group_member
        WHERE group_id = #{groupId}
          AND deleted = 0
    </select>
    <select id="selectGroupMemberInfoVo" resultType="top.th1nk.easychat.domain.vo.GroupMemberInfoVo">
        SELECT group_id,
               user_id,
               user_group_nickname,
               gm.role,
               gm.create_time,
               u.username,
               u.nickname,
               u.avatar,
               u.sex
        FROM ec_user u
                 JOIN ec_group_member gm ON u.id = gm.user_id
        WHERE gm.group_id = #{groupId}
          AND u.id = #{userId}
        ORDER BY gm.create_time DESC
        LIMIT 1
    </select>
    <select id="selectGroupMemberInfoVoList" resultType="top.th1nk.easychat.domain.vo.GroupMemberInfoVo">
        SELECT group_id,
               user_id,
               user_group_nickname,
               gm.role,
               gm.create_time,
               u.username,
               u.nickname,
               u.avatar,
               u.sex
        FROM ec_user u
                 JOIN ec_group_member gm ON u.id = gm.user_id
        WHERE gm.group_id = #{groupId}
          AND u.deleted = 0
          AND gm.deleted = 0
        ORDER BY gm.create_time
    </select>
</mapper>
