<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.th1nk.easychat.mapper.SysGroupMapper">

    <resultMap id="BaseResultMap" type="top.th1nk.easychat.domain.SysGroup">
        <id property="groupId" column="group_id" jdbcType="INTEGER"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="groupDesc" column="group_desc" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        group_id
        ,group_name,group_desc,
        avatar,deleted,create_time,
        update_time
    </sql>
    <select id="selectUserGroupList" resultType="top.th1nk.easychat.domain.vo.UserGroupVo">
        SELECT g.group_id,
               g.group_name,
               g.group_desc,
               g.avatar,
               gm.role,
               gm.muted,
               gm.group_remark
        FROM ec_group g
                 LEFT JOIN ec_group_member gm ON g.group_id = gm.group_id
                 LEFT JOIN ec_user u ON gm.user_id = u.id
        WHERE gm.user_id = #{userId}
    </select>
    <select id="selectGroupVoById" resultType="top.th1nk.easychat.domain.vo.GroupVo">
        SELECT g.group_id,
               g.group_name,
               g.group_desc,
               g.avatar,
               g.create_time,
               count(gm.user_id) AS member_count
        FROM ec_group g
                 LEFT JOIN ec_group_member gm ON g.group_id = gm.group_id
        WHERE g.group_id = #{groupId}
          AND deleted = 0
    </select>
    <select id="selectUserGroupVo" resultType="top.th1nk.easychat.domain.vo.UserGroupVo">
        SELECT g.group_id,
               g.group_name,
               g.group_desc,
               g.avatar,
               gm.role,
               gm.muted,
               gm.group_remark
        FROM ec_group g
                 LEFT JOIN ec_group_member gm ON g.group_id = gm.group_id
        WHERE g.group_id = #{groupId}
          AND gm.user_id = #{userId}
          AND g.deleted = 0
    </select>
</mapper>
